<footer>
    <div class="contact">
        <div class="logo">
            <img src="assets/logo/1.png" alt="">
            <h1>House rental</h1>
        </div>
        <div class="address">
            <img src="assets\icon\address.png" alt="">
            <div>
                <p>Address</p>
                <p><b>Oxford Ave. Cary, NC 27511</b></p>
            </div>
        </div>
        <div class="email">
            <img src="assets\icon\email.png" alt="">
            <div>
                <p>Email</p>
                <p><b>nwiger&#64;yahoo.com</b></p>
            </div>
        </div>
        <div class="phone">
            <img src="assets\icon\phone.png" alt="">
            <div>
                <p>Phone</p>
                <p><b>+537 547-6401</b></p>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="social">
            <h2>Faucibus faucibus<br> pellentesque dictum turpis.<br> Id pellentesque turpis<br> massa a id iaculis lorem t...</h2>
            <div class="icons">
                <img src="assets\icon\Group.png" alt="">
                <img src="assets\icon\Group (1).png" alt="">
                <img src="assets\icon\Group (2).png" alt="">
                <img src="assets\icon\Group (3).png" alt="">
            </div>
        </div>
        <div class="links">
            <h2>Useful links</h2>
            <div>
                <p>About Us</p>
                <p>Contact Us</p>
                <p>Gallery</p>
                <p>Blog</p>
                <p>F.A.Q</p>
            </div>
        </div>
        <div class="car-types">
            <h2>Vehicles</h2>
            <div>
                <p>Sedan</p>
                <p>Cabriolet</p>
                <p>Pickup</p>
                <p>Miniven</p>
                <p>SUV</p>
            </div>
        </div>
        <div class="download">
            <h2>Download App</h2>
            <img src="assets\logo\apple.png" alt="">
            <img src="assets\logo\google.png" alt="">   
        </div>
    </div>
</footer>